
<div class="section">

    <div class="container">
        
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto max-width: 510px;">
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
<hr>
<div class="section">    

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>PROJECTS</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">            
                <a href="http://jleefish.github.io/gta_bikeshare/">
                    <img class="img-responsive img-home-portfolio" src="resources/gtaBikeshare.png">
                </a>
                <h3><i class="fa fa-mobile"></i> GTA Bikeshare</h3>
                <p>Built with jQuery, jQuery mobile, and Google Maps, this web application shows a list of available bike stations throughout the city. This project was developed for front-end application practice. This project data is populated from a JSON file.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">            
                <img class="img-responsive img-home-portfolio" src="resources/beaconApp.png">
                <h3><i class="fa fa-mobile"></i> Beacon Android app</h3>
                <p>This mobile application is developed with Estimot Beacon API. When the application detects a bluetooth signal broadcasting from a nearby beacon, a new view appears with entertaining questions.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">            
                <img class="img-responsive img-home-portfolio" src="resources/iOSFootPrints.jpg">
                <h3><i class="fa fa-mobile"></i> FootPrints iOS app</h3>
                <p>This iOS app documents your journey in life. It organizes all the places you’ve already been and the places you dream of going to. </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">            
                <img class="img-responsive img-home-portfolio" src="resources/Icon-App-76x76@3x.png">
                <h3><i class="fa fa-mobile"></i> Bike Signs iOS app</h3>
                <p>This iOS app displays direction signs for bikers. Launch the app, shake your arm when you make a turn or stop. Shake it again to turn off the sign.
                This app also video the traffic behind you while turning or stopping for your records. Now get out and ride and be safe! </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h2>Now I'm Focusing On</h2>
                <ul>
                    <li>Open for new opportunity </li>                    
                    <li>Developing iOS app</li>                                        
                    <li>Deadlifting</li>
                </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
