
</div>
<div class="section">

    <div class="container">
        
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
<hr>
<div class="section">    

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Some Works I Did</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">            
                <a href="http://jleefish.github.io/gta_bikeshare/">
                    <img class="img-responsive img-home-portfolio" src="resources/gtaBikeshare.png">
                </a>
                <h3><i class="fa fa-mobile"></i> GTA Bikeshare</h3>
                <p>Built with jQuery, jQuery mobile, and Google Maps, this web application shows a list of available bike stations throughout the city. This project was developed for front-end application practice. This project data is populated from a JSON file.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://github.com/jleefish/asiance_Beacon/tree/master/beacon-dot">
                    <img class="img-responsive img-home-portfolio" src="resources/beaconApp.png">
                </a>
                <h3><i class="fa fa-mobile"></i> Beacon Android app</h3>
                <p>This mobile application is developed with Estimot Beacon API. When the application detects a bluetooth signal broadcasting from a nearby beacon, a new view appears with entertaining questions. Check it out <a href="https://github.com/jleefish/asiance_Beacon/tree/master/beacon-dot">now.</a></p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h2>Now I'm Focusing On</h2>
                <ul>
                    <li>Digging MEAN Stack</li>
                    <li>Serching Summer Co-op</li>
                    <li>Cooking</li>
                    <li>Deadlifting</li>
                </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
